body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(203, 203, 203, 0.25);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

td {
    transition: padding 0.1s 0s;
}

td div {
    overflow: hidden;
    animation: 0.1s ease-in 0s FadeIn;
    transition: max-height 0.1s 0s;
    max-height: 100px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.deleted td div {
    max-height: 0;
}

.deleted td {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
